
@font-face {
  font-family: "PT Sans Bold";
  src: url('fonts/ptsans-700.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Normal";
  src: url('fonts/ptsans-400.woff2');
  font-weight: normal;
  font-style: normal;
}

body, html{
  padding:0;
  margin:0;
}

.header{
  display: flex;
  height: 70px;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  align-items: center;
}

.header-left{
  display: flex;
  align-items: center;
  height: 70px;
}



.header .logo{
  display: inline-block;
  background-image: url("./img/logo.png");
  width: 139px;
  height: 70px;
}

.main-navigation{
  display: flex;
  height:70px;
  align-items: center;
}


.main-menu{
  display:flex;
  list-style: none;
  height: 70px;
}

.main-menu li{
  display: flex;
}

.main-menu li:not(:first-child){
  margin-left: 20px;
}

.main-menu a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700px;
  font-family: "PT Sans Bold";
  color: black;
  align-self:center;
  padding:0;
}

li:has(> a:active ) {
  border-bottom:2px solid #756257;
}


.main-menu li:first-child {
 border-bottom: 2px solid #756257  ;
}


.header-right{
  display: flex;
  align-items: center;
  height: 70px;
}

.user-menu{
  display: flex;
}

.user-menu li{
  list-style: none;
}

.user-menu .search-btn{
  display: block;
  background-image:url("./img/search.png");
  width: 42px;
  height: 70px;
}

.user-menu .likes-btn{
  display: block;
  background-image:url("./img/favorite.png");
  background-repeat:no-repeat;
  background-position: 50% 50%;
  width: 42px;
  height: 70px;
  text-decoration: none;
}

.header-btn{
  width:160px;
  height:37px;
  background-color: #756257;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 700px;
  font-family: "PT Sans Bold";
  color: white;
  margin-left: 20px;
}


.likes-display{
  display: flex;
  width:20px;
  height:20px;
  background-color: #7DB54F;
  border-radius: 10px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 13px;
transform: translate(120%, 75%);
}

.welcome-screen{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-screen-banner{
  display:flex;
  background-image: url("./img/welcome-screen-background.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  width:100%;
  height: 40vw/* 776px*/;
  background-color: #756257;
  align-items: center;
  justify-content: center;
}


.welcome-screen-hero-text{
  position: absolute;
  height:30vw;
}



.welcome-screen-devider{
  width:100%;
  align-self:flex-end;
  height:7%;
}

.welcome-screen-slogan{
  display: flex;
  font-size: 30px;
  font-weight: 700;
  font-family: "PT Sans Bold";
  color: #000000;
  justify-self: center;
  text-transform: uppercase;
  width: 33%;
  text-align: center;
  margin-top:72px;
}

.welcome-screen-text{
  font-family: "PT Sans Normal";
font-size: 22px;
font-weight: 400;
line-height: 36px;
text-align: center;

}

.advantages-grid{
  display: grid;
  grid-template-columns: 33.05vw 33.05vw 33.05vw;
  grid-template-rows:
    calc(33.05vw - 10%)
    calc(33.05vw - 10%)
    calc(33.05vw - 10%)
    calc(33.05vw - 10%);
    width:100%;
    min-height: 100vh;
    margin: 0 auto;
    background:brown;
}

.advantage-real-town{
  grid-row: 1;
  grid-column: 1 / 1;
  background: #83B3D3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-real-town-texts{
  display: flex;
  flex-direction: column;
  width: 220px;
  align-items: center;
  color:white;
}

.advantage-real-town-texts h4{
  font-family: "PT Sans Bold";
  font-size: 24px;
  line-height:28px;
  text-transform: uppercase;
  text-align: center;
}

.advantage-real-town-texts span{
  font-family: "PT Sans Normal";
  font-size: 18px;
  line-height:21px;
  text-align: center;
}

.advantage-real-town-texts p{
  font-family: "PT Sans Normal";
  font-size: 18px;
  line-height:21px;
  text-align: center;
}

.advantage-open-bange-img-container{
  grid-row: 1;
  grid-column: 2 / 4;
  background: yellow;
}

.advantage-open-bange-img-container img{
  width:100%;
  height:auto;
}

.advantage-homes{
  grid-row: 2;
  grid-column: 1 / 1;
  background: color-mix(in srgb, #83B3D3 12%, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantage-homes-content{
  width: 220px;
  text-align: center;
}


.advantage-homes-content h5{
  font-family: "PT Sans Bold";
  font-size: 24px;
  line-height:28px;
  text-transform: uppercase;
  text-align: center;
}

.advantage-homes-content p{
  font-family: "PT Sans Normal";
  font-size: 18px;
  line-height:21px;
  text-align: center;
}




.advantage-food{
  grid-row: 2;
  grid-column: 2 / 3;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.advantage-food-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.advantage-food-content h5{
  font-family: "PT Sans Bold";
  font-size: 24px;
  line-height:28px;
  text-transform: uppercase;
  text-align: center;
}

.advantage-food-content p{
  font-family: "PT Sans Normal";
  font-size: 18px;
  line-height:21px;
  text-align: center;
}




.advantage-suvenires{
  grid-row: 2;
  grid-column: 3 / 4;
  background: color-mix(in srgb, #83B3D3 12%, white);
}

.advantage-canion-img-container{
  grid-row: 3;
  grid-column: 1 / 3;
  background: yellow;
}

.advantage-diablo-bridge{
  grid-row: 3;
  grid-column: 3/ 4;
  background: #83B3D3;
}

.advantages-compact-placing{
  grid-row: 4;
  grid-column: 1 / 2;
  background: color-mix(in srgb, #83B3D3 12%, white);
}

.advantage-beautiful-road{
  grid-row: 4;
  grid-column: 2/ 3;
  background: color-mix(in srgb, #83B3D3 20%, white);
}

.advantage-less-tourists{
  grid-row: 4;
  grid-column: 3 / 4;
  background: color-mix(in srgb, #83B3D3 12%, white);
}

/* temporary  --------------------- ---------------- */
/*
.header, .header *{
  outline: 1px solid red;
}
*/
